@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui/themes/base/core.css";
@import "~jquery-ui/themes/base/datepicker.css";
@import "~jquery-ui/themes/base/theme.css";

body {
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  &:hover {
    color: #444;
  }
}

.body-container {
  padding: 20px 0;
}
